
body{
    font-family: "Raleway" , serif;
   
    margin: 0px 8px ;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
 
}
.logoReservia{
    width: 120px; height: 50px;
    
}
.v-h {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
.logoFlex{
    flex: 1;
}
.diplayFlex{
    display: flex;
 
}

.Plusde500logements{
    margin-right: 1% ;
}
.heightCaseHebergement{
    height: 70%;  
    overflow: hidden;
    
}
.widthElementPopU{
    display: flex; width: 94%;

    JUSTIFY-CONTENT: space-between;
}

.breakWord{
    margin: 5% 5% 0% 5%; word-wrap: break-word;
}
.sactionActiviteMargin{
    margin-top: 5%; margin-left: 2%;
     margin-bottom: 1%;
}
.imagePopulaire{
    width:100%;
    height:100%;
    display:block;
}
.imageHebergement{
    width: 100%;
}
.starColor{
    color: #cecece;
}
.TextBleu{
    color: #0065FC;
}
.margin5{
    margin: 5% 5% 0% 5%;
    flex: 1;
}
.p1{
  margin-left: 5%;
}
.centrer{
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.flexaround{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.menuSize{
    height: 99px;
    width: 140px;
  
}
.searchText{
    background-color: #0065FC;
}
.liens2{
    color: black;
}

.liens1>a{
    
    color: #0065FC;
}
.star2, .star >i{
    color: #0065FC ;
}

a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}


.bordure:hover > a{
    color: #0065FC;
}
.search{
    width: 300px;
    height: 50px;
}
.flex-search{
    display: flex;
    margin-top: 2%;

}
.icon-map{    
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}
.button-search{
    color: #ffffff;
    background-color: #0065FC;
    border-radius: 10px;
    width: 100px;    
    height: 50px;
}
input{
    text-align: center;
    border: 0px #F2F2F2 solid;
    width: 100%;
    height: 100%;
    font-size: 1em;
}
h4{
    margin: 1% 0% 0% 0%;
}
p{
    margin: 0%;
}
.iconPopu{
    align-self: center; color: black;
}

.FiltreTitre{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}
.filtre{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.bordure-filtre{
    border : 2px #F2F2F2 solid;
    border-radius: 30px 30px 30px 30px;

}
.sectionFiltre{
    
    margin-top: 2%;
}
.element-filtre-flew{
    display: flex;
    width: 170px;    
    height: 50px;
    align-items: center;   
     margin-right: 3%;
}
.element-filtre-flew:nth-child(5){
    width: 220px;
}


.icon{
    border-radius: 50px;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
}
.fa-heart:before {
    display: flex;
    flex-direction: column;
    width: 100%;
    JUSTIFY-CONTENT: center;
    height: 100%;
    ALIGN-ITEMS: center;    
    color: #0065FC;
}
.fa-dog:before {
    content: "\f6d3";
    display: flex;
    flex-direction: column;
    width: 100%;
    JUSTIFY-CONTENT: center;
    height: 100%;
    ALIGN-ITEMS: center;    
    color: #0065FC;
}
.fa-child:before {
    display: flex;
    flex-direction: column;
    width: 100%;
    JUSTIFY-CONTENT: center;
    height: 100%;
    ALIGN-ITEMS: center;    
    color: #0065FC;
}
.fa-money-bill-wave:before {
    display: flex;
    flex-direction: column;
    width: 100%;
    JUSTIFY-CONTENT: center;
    height: 100%;
    ALIGN-ITEMS: center;
    color: #0065FC;
}
.fa-search{
 
    color: #ffffff;
    position :absolute;
}
.button-search {

    width: 55px;
    height: 50px;
}
.bordure-filtre:hover {
    background-color: #DEEBFF;
}
.bordure-filtre:hover > i{
    background-color: #ffffff;

}

.fa-info:before {
    display: flex;
    flex-direction: column;
    width: 100%;
    JUSTIFY-CONTENT: center;
    height: 100%;
    ALIGN-ITEMS: center;
    color: #0065FC;
}
.section-Info{
    display: flex;
    
    height: 50px;
}
.icon-info{
    border-radius: 50px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border : 2px #F2F2F2 solid;
    word-wrap: break-word;
}
.centre-info{
    display: flex;
    align-items: center; 
}
.Hebergement{   
    border-radius: 20px 20px 20px 20px;
    width: 73%;    
    background-color:#F2F2F2;
    
}
.Hebergement-Marseil{
    
    display: flex;
    flex-flow: row;    
    justify-content: space-around;
}


.les-plus-populaires{
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 26%;
    height: auto;

}
.section1{
    display: flex;
    
    justify-content: space-between;
}

.Hebergement-Marseil-elmts{
    transition: 1s;
    border-radius: 20px;
    border : 5px white solid;
    width: 275px;
    margin-top: 10%;
    height: auto;
    background-color: #fffffe;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.Hebergement-Marseil-elmts:hover{
    transform: scale(1.03);
}

.footerStyle{
    height: 180px; background-color: #f2f2f2;
}
.footerFlex{
        display: flex;
        justify-content: space-between;
        width: 80%;
       
}
.titre{
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    
}
.titre2{
    display: flex;
    justify-content: flex-start;
    padding: 2%;
}
.titre1{
    display: flex;
    justify-content: flex-start;
    padding: 2% 2% 0% 2%;
}

.lesPlusCases{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83%;
    margin: auto;
}
.Hebergement-populair-elmts{
    border-radius: 20px;
    transition: 1s;
    height: 147px;    
    background-color: #fffffe;
    border : 5px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;

}
.Hebergement-populair-elmts:hover{
    transform: scale(1.08);
}
.afficher-plus{
    display: flex;
    align-items: flex-end;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 3%;
}

.imgLesPlusPopu{
      display: flex;
      overflow: hidden;
}

.activite_elmentLarge{
    transition: 1s;
    width: 48%; 
    height: 545px;
    overflow: hidden; 
    margin-top: 2%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.activite_elmentLarge:hover{
    transform: scale(1.03);
    
}
.activite_elmentSmall{
    width: 48%;
    height: 571px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.review {
    width: 95%;
    MARGIN: auto;
}
.star2{
        
    margin:5%
    }
.activite_elmentSmall_1{
    transition: 1s;
     margin-bottom: 5%; border-radius: 20px;
     width: 90%;
     margin: auto;
     margin-bottom: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.activite_elmentSmall_1:hover{
    transform: scale(1.02);
}
.activite_elmentSmall_2{
    transition: 1s;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.activiteHeight1{
    
    height: 289px;
    
}
.activiteHeight2{    
    height: 218px;
}
.activite_elmentSmall_2:hover{
    transform: scale(1.02);
}
.flex50{
    display: flex;width: 50%;
    justify-content: space-around;
}

.sous-titre{
    margin: auto;
    padding: 3%;
    display: flex;
}
ul{
    list-style: none;
    padding: inherit;

}
li{
    margin: 20px;
}
li > a:hover{
    color: #0065FC;
}
.les-plus-populairesDescription{
    width: 55%;
    display: flex;
    flex-direction: column;
}
.imageSize{
    width: 40%; 
}
.popu1{
    
    background-image: url(./images/hebergements/12.jpg); 
    background-position: center; background-size: cover;
}
.popu2{
    
    background-image: url(./images/hebergements/13.jpg); 
    background-position: center; background-size: cover;
}
.popu3{
    
    background-image: url(./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg); 
    background-position: center; background-size: cover;
}
.activiteElement{
    display: flex; margin-bottom: 5%;
}
.activite1{
    height: 90%;
     background-image: url(./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg); 
    background-position: center; background-size: cover;
}
.activite2{
    
    border-radius: 20px 20px 0px 0px;
    height: 83%; background-image: url(./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg); 
    background-position: center; background-size: cover;
}
.activite3{
    border-radius: 20px 20px 0px 0px; height: 78%; background-image: url(./images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
     background-position: center; background-size: cover;

}
.activite4{
    height: 90%; background-image: url(./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg); 
    background-position: center; background-size: cover;
}
.activite5{
    
    border-radius: 20px 20px 0px 0px;
    height: 78%; background-image: url(./images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
     background-position: center; background-size: cover;
}
.activite6{
    border-radius: 20px 20px 0px 0px;height: 83%; background-image: url(./images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-position: center; background-size: cover;
}
.HebergementImage1{
    height: 70%; background-image: url(./images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg); background-position: center; background-size: cover;
}
.HebergementImage2{
    background-image: url(./images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg); background-position: center; background-size: cover;
}
.HebergementImage3{
    background-image: url(./images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg); background-position: center; background-size: cover;
    
}
.HebergementImage4{
    background-image: url(./images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg); background-position: center; background-size: cover;
    
}
.HebergementImage5{
    background-image: url(./images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg); background-position: center; background-size: cover;
    
}
.HebergementImage6{
    background-image: url(./images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg); background-position: center; background-size: cover;
    
}
.searchBar {
    margin-left: 0;
    margin-right: 0;
    border-left: 0;
    border-right: 0;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    
    width: 240px;
    font-size: 1em;
}
@media screen and (min-width: 750px){
    .activite_elmentLarge{
      height: 545px;
    }
   
    .liens1 {
        border-top: 2px solid #0065FC;
    }
    
}
@media screen and (max-width: 920px)
{
    .lesPlusCases {
    
        display: flex;
        flex-direction: column;
    }
    .elmtsFlex {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .Hebergement-Marseil-elmts {
        width: 382px;
    }
 


}
@media screen and (max-width: 940px){
    .flexaround{
        
        margin-left: 26%;
    }
}

@media screen and (min-width : 750px){
    .bordure:hover{
        border-top: 2px solid #0065FC ;
        cursor: pointer;
    }
    .fa-search:before {
        content: "\f002";
        visibility: hidden;
    }
    .button-search {
        width: 125px;
        height: 50px;        
         border-radius: 0px 10px 10px 0px;
    }
}
@media screen and (min-width : 1090px){
    .titre2{
        display: flex;
        justify-content: flex-start;
        padding: 2% 0% 2% 6%;
        margin-bottom: 19%;
    }
    .iconPopu{
        margin-bottom: 10%;
    }
    .lesPlusCases {
        width: 90%;
    }
    


}

@media screen and (max-width : 1090px) {
    .lesPlusCases {

        width: 70%;
    }
    .les-plus-populairesDescription {
        width: 53% !important;
    }
    .imageSize{
        width: 20%;
    }
    .titreFiltreMobile{
        align-self: flex-start;
    }
 
   
    .section1mobileflexColumn{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .element-filtre-flew{
        margin-bottom: 20px;
    }
 
    .les-plus-populaires{
        width: 100%;
    }

    .les-plus-populairesDescription {
        width: 86%;
    }
    .star2{
        margin: 5%;
    }
    .Hebergement{
        margin-top: 5%;
        width: 100%;
    }

    
    .imageSize{
        width: 45%;
        max-width: 170px;
    }

    .activiteElement {
        display: flex;
        margin-bottom: 5%;
        flex-direction: column;
    }
    .flex50 {
        display: flex;
         width: 100%;
        max-height: 1080px;
        justify-content: space-around;
        margin-bottom: 4%;
    }

    

}
@media screen and (max-width: 1270px){
    .Hebergement-Marseil-elmts {
        border-radius: 20px;
        border: 5px white solid;
        width: 250px;
        
}
.Hebergement-populair-elmts {
    border-radius: 20px;
    height: 157px;
}

}
@media screen and (max-width : 1200px) {
    .Hebergement-Marseil-elmts {
        border-radius: 20px;
        border: 5px white solid;
        width: 230px;
}
.Hebergement-populair-elmts {
    border-radius: 20px;
}
.imageSize {
    width: 40%;
    max-width: 206px;
}


}
@media screen and (max-width : 1300px) {

}

@media screen and (max-width: 1050px)
{   
    .Hebergement-populair-elmts {
        border-radius: 20px;
        height: 157px;
    }
    .imageSize {
        width: 40%;
        max-width: 206px;
    }
    .review{
        margin-top: 5%;
    }
  
    .elmtsFlex {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }

    .Hebergement {
        width: 100%;

    }
    .Hebergement-Marseil-elmts {
        width: 46%;
    }

    .les-plus-populaires {
        border-radius: 20px;
        background-color: #F2F2F2;
        width: 100%;
    }
 
 
    .star{
        margin-bottom: 2%;
    }


}

@media screen and (max-width: 820px){
    .elmtsFlex {
        flex-direction: column;
        
    }
    .Hebergement-Marseil-elmts {
        width: 80%;
        height: 381px;
    }
    .elmtsFlex {
        flex-direction: column;
        /* justify-content: center; */
        /* width: 100%; */
        align-items: center;
    }
    .lesPlusCases {
        width: 90%;
    }
}

@media screen and (max-width : 450px) {
    
    .imageSize{
        width: 50%;
    }
    .lesPlusCases {
        width: 90%;
    }
    .search{
        width: 210px;
    } 
    .element-filtre-flew {
        margin-right: 1%;
    }
    
}

@media screen and (max-width : 750px) {
    
    .searchText{

        visibility: hidden;
    }
    .Hebergement{   
           
        background-color :#ffffff;
        
    }
   
    .flex-search {
        display: flex;
        margin: 3% 0% 3% 0%;
    }
    .flexaround{
        order: 1;
        width: 100%;
        margin-left: 0%;
        border-bottom: 2px #F2F2F2 solid;
    }
    .lien3{
        border-bottom: 2px solid #0065FC;
        width: 50%;
    }
    .menuSize{
        height: 80px;
        width: 140px;
      
    }
    .menuSize2 {
    height: 80px;
    width: 312px;
}
    .bordure:hover{
        border-bottom: 2px solid #0065FC ;
        
        cursor: pointer;
    }
    .header{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        height: 160px;
    }
    h4{
        margin: 1% 0% 0% 0%;
    }
    p{
        margin: 0%;
    }
    .review {
        width: 95%;
        MARGIN: auto;
    }
    .Hebergement-Marseil-elmts {
        width: 83%;
        height: 210px;
    }
    .footerStyle {
        height: auto;
        background-color: #f2f2f2;
    }
    .footerFlex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .imageSize{
        width: 40%;
        max-width: 206px;
    }
    .mobileflexColumn2{
        flex-direction: column;
        align-items: flex-start;
    }
    .flex50 {
  
        flex-direction: column;
    }
    .activite_elmentSmall {
        width: 100%;
        height: 497px;
       
    }

    
    .activite_elmentSmall_3{
        width: 100%;
        height: 400px; 
        background-color: #f2f2f2;
         margin-bottom: 5%; border-radius: 20px;
      
    }
    .activite1 {
        height: 170px;
    }
    .activite2 {
        height: 170px
    }
    .activite3 {
        height: 170px
    }
    .activite4 {
        height: 170px;
    }
    .activite5 {
        height: 170px
    }
    .activite6 {
        height: 170px
    }
    .activiteElement {
        display: flex;
        flex-direction: column;
        margin: 6%;
    }
    .activite_elmentLarge{
        width: 95%;
        margin: auto;
        margin-bottom: 3%;
        height: auto;
    }
    .activiteHeight2{
        height: auto;
    }
    .activiteHeight1{
        height: auto;
    }
    .activite_elmentSmall_1{
        width: 95%;
    }
    .activite_elmentSmall_2{
        width: 95%;
    }

}
@media screen and (max-width: 626px){
    .FiltreTitre {
       
        width: 100%;
        
    }
}